<div class="footer-bg">
  <!-- info section -->
  <section class="info_section layout_padding2-bottom">
    <div class="container info_content">
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
        <div class="social-box">
          <a href="">
            <img src="images/fb.png" alt="" />
          </a>

          <a href="">
            <img src="images/twitter.png" alt="" />
          </a>
          <a href="">
            <img src="images/linkedin1.png" alt="" />
          </a>
          <a href="">
            <img src="images/instagram1.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- info section end -->
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      © 2022 All Rights Reserved
      <a href="https://github.com/CwBotNet">Dev Raj sahani.</a>
    </p>
  </section>
  <!-- footer section -->
</div>
</div>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>