    <%- include('partials/header') %>

        <body class="sub_page bg-image">
            <div class="hero_area_service">
                <!-- header section strats -->
                <header class="header_section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8">
                                <nav class="navbar navbar-expand-lg custom_nav-container">
                                    <div class="container">
                                        <a class="navbar-brand" href="/">
                                            <span>
                                                .BOtNEt
                                            </span>
                                        </a>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>

                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <div class="d-flex  flex-column flex-lg-row align-items-center">
                                                <ul class="navbar-nav  ">
                                                    <li class="nav-item active">
                                                        <a class="nav-link" href="/">Home <span
                                                                class="sr-only">(current)</span></a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/about">About </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/service">Services </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/ourvision">Our Vision</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/contact">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- end header section -->
            </div>

            <!-- service section -->

            <div class="emailsent text-centered position-relative">
                <div class="sent_custom_heading-container">
                    <h2>
                        Email has been send we will contact you soon...
                    </h2>
                </div>

                <img src="../images/sent_mail.png" alt="sent eamil" srcset=""
                    class="rounded mx-auto d-block img-fluid w-100">
            </div>
            <!-- end service section -->

            <div class="footer_bg position-absolute">

                <%- include('partials/footer') %>