<%- include('partials/header') %>

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <nav class="navbar navbar-expand-lg custom_nav-container">
                            <a class="navbar-brand" href="/">
                                <span>
                                    .BOtNEt
                                </span>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="d-flex  flex-column flex-lg-row align-items-center">
                                    <ul class="navbar-nav  ">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#about">About </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#service">Services </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#ourvision">Our Vision</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header section -->

        <!-- slider section -->
        <section class=" slider_section ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <!-- <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
                </ol> -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="slider_detail-box">
                                        <h1>
                                            Start <br />
                                            Business with <br />
                                            Our Company
                                        </h1>
                                        <p>
                                            <!-- content -->
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="slider_img-box">
                                        <img src="images/slider-img.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="carousel_btn-container">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div> -->
            </div>
        </section>
        <!-- end slider section -->
    </div>

    <!-- welcome section -->
    <section class="welcome_section layout_padding" id="about">
        <div class="container">
            <div class="custom_heading-container">
                <h2>
                    Welcome To Our Company
                </h2>
            </div>
            <div class="layout_padding2">
                <div class="img-box">
                    <img src="images/welcome.png" alt="" />
                </div>
                <div class="detail-box">
                    <p>
                        We have a complete digital marketing agency committed to enhanceing your brand with superior
                        marketing strategies and revenue growth.The company aims to provide the highest quality online
                        marketing services at competitive prices with excellent customer service.

                        We are a group of young energetic and enthusiastic entrepreneurs who have come together to help
                        business develop their websites.We focus on having all your technology solutions in one place.

                        Each member of our team has their own creative skills and knows exactly what it takes to
                        digitaly elevate a brand. Our experties is <strong>Web development, UI & UX, API development,
                            BACKEND DEVELOPMENT, SEO, SMO</strong> and so on .It also
                        serves to redesign exiting websites when needed to give them an exciting look with unique
                        gateway features.
                    </p>

                    <div>
                        <a href="/about">
                            Read More
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- end welcome section -->

    <!-- service section -->

    <section class="service_section" id="service">
        <div class="container glass-card">
            <div class="custom_heading-container">
                <h2>
                    Our Services
                </h2>
            </div>
            <div class="service_container layout_padding2">
                <div class="service_box">
                    <div class="img-box">
                        <img src="images/web.dev.png" alt="" />
                    </div>
                    <div class="detail-box">
                        <h4>
                            WEB <br />
                            DEVELOPMENT
                        </h4>
                        <p>
                            have suffered alteration in some form, by injected humour, or randomised words which
                            don&#39;t look even
                            slightly believable. If you are
                        </p>
                    </div>
                </div>
                <div class="service_box">
                    <div class="img-box">
                        <img src="images/api.png" alt="" />
                    </div>
                    <div class="detail-box">
                        <h4>
                            API <br />
                            DEVELOPEMENT
                        </h4>
                        <p>
                            have suffered alteration in some form, by injected humour, or randomised words which
                            don&#39;t look even
                            slightly believable. If you are
                        </p>
                    </div>
                </div>
                <div class="service_box">
                    <div class="img-box">
                        <img src="images/seo.png" alt="" />
                    </div>
                    <div class="detail-box">
                        <h4>
                            SEO <br />
                            <br>
                        </h4>
                        <p>
                            have suffered alteration in some form, by injected humour, or randomised words which
                            don&#39;t look even
                            slightly believable. If you are
                        </p>
                    </div>
                </div>

            </div>
            <div>
                <a href="/service">
                    Read More
                </a>
            </div>
        </div>
    </section>

    <!-- end service section -->

    <!-- our vision section -->
    <section class="problem_section layout_padding " id="ourvision">
        <div class="container">
            <div class="custom_heading-container">
                <h2>
                    Our vision
                </h2>
            </div>
            <div class="layout_padding2">
                <div class="img-box">
                    <img src="images/problem.jpg" alt="" />
                </div>
                <div class="detail-box">
                    <p>
                        We always focus on customer needs with 360° digital solutions that help us deliver out of the
                        box solutions to them in the best possible way.Through our services.We want to develop
                        increadible
                        connectionswith our clients over the year.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- our vision end section -->

    <!-- end problem section -->

    <!-- why section -->

    <section class="why_section layout_padding">
        <div class="container">
            <div class="custom_heading-container">
                <h2>
                    Why Choose Us
                </h2>
            </div>
            <div class="content-container">
                <p>
                    We will ensure digital channels are optimized for your target usage's search intent so they can find
                    your business when they need it most.

                    We belive in customering approaches to help you create a strong impression in the mindof your
                    audience.

                    We approach all your questions and concerns with maximum commitment at every stage of the process
                    because we value long-distance partnerships with our customers.

                    Creating a brand image is important for long-term success.If you're looking to digitally launceh or
                    enhance your brand or social media provide you with a bespoke package to suit your specific needs
                </p>
                <!-- <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box">
                            <img src="images/smiley.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h3>
                                80%
                            </h3>
                            <h6>
                                SATISFIED CLIENTS
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box">
                            <img src="images/monitor.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h3>
                                4700+
                            </h3>
                            <h6>
                                AWESOME planing
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box">
                            <img src="images/multiple-users-silhouette.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h3>
                                4500+
                            </h3>
                            <h6>
                                CLIENTS
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box">
                            <img src="images/bar-chart.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h3>
                                19000+
                            </h3>
                            <h6>
                                DAILY business
                            </h6>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>


    <!-- end why section -->

    <!-- client section -->
    <!-- <section class="client_section layout_padding">
        <div class="container">
            <h2>
                What Our Clients Says
            </h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="client_container layout_padding2">
                            <div class="client_text">
                                <p>
                                    psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore
                                    magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea
                                    commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                </p>
                            </div>
                            <div class="detail-box">
                                <div class="img-box">
                                    <img src="images/client.png" alt="" />
                                </div>
                                <div class="name">
                                    <h5>
                                        Joans Mark
                                    </h5>
                                    <p>
                                        cal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_container layout_padding2">
                            <div class="client_text">
                                <p>
                                    psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore
                                    magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea
                                    commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                </p>
                            </div>
                            <div class="detail-box">
                                <div class="img-box">
                                    <img src="images/client.png" alt="" />
                                </div>
                                <div class="name">
                                    <h5>
                                        Joans Mark
                                    </h5>
                                    <p>
                                        cal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_container layout_padding2">
                            <div class="client_text">
                                <p>
                                    psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore
                                    magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea
                                    commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                </p>
                            </div>
                            <div class="detail-box">
                                <div class="img-box">
                                    <img src="images/client.png" alt="" />
                                </div>
                                <div class="name">
                                    <h5>
                                        Joans Mark
                                    </h5>
                                    <p>
                                        cal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </section> -->
    <!-- end client section -->

    <!-- contact section -->



    <section class="contact_section layout_padding" id="contact">
        <div class="container contact_heading">
            <h2>
                Contact Us
            </h2>
            <p>
                psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
        </div>
        <div class="container">
            <form action="/" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName4">Name</label>
                        <input type="text" class="form-control" name="name" id="inputName4" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail4" />
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNumber4">Phone number</label>
                        <input type="tel" class="form-control" name="phoneNumber" id="inputNumber4" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Select Service</label>
                        <select id="inputState" class="form-control" name="options">
                            <option selected=""></option>
                            <option>API</option>
                            <option>WEB Application</option>
                            <option>SEO</option>
                            <option>SMO</option>
                            <option>...</option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <label for="inputMessage">Message</label>
                    <input type="text" class="form-control" id="inputMessage" name="message" placeholder="" />
                </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn">Send</button>
        </div>
        </form>

    </section>


    <!-- end contact section -->
    <div class="footer_bg">

        <%- include('partials/footer') %>